.about-custom-box {
    .group-block-content {
        h1 {
            font-size: 88px;
            line-height: 100px;
            font-weight: 700;
            @media (max-width: 768px) {
                font-size: 44px;
                line-height: 50px;
            }
        }
    }
}

.custom-faq-content {
    padding-block: 90px 136px;
    @media (max-width: 768px) {
        padding-block: 48px;
    }
    .group-block-content {
        @media (max-width: 768px) {
            align-items: center;
        }
        h2 {
            font-size: 88px;
            line-height: 88px;
            font-weight: 700;
            @media (max-width: 768px) {
                font-size: 44px;
                line-height: 50px;
            }
        }
    }
}

.campaign-custom {
    padding-block: 88px 68px;
        @media (max-width: 768px) {
            padding-block: 48px 40px;
            .group-block-content {
                align-items: center;
            }
        }
}

.two-image {
    padding-block: 80px;
    @media (max-width: 768px) {
        padding-block: 20px;
        .group-block-content {
            flex-direction: column-reverse;
        }
    }
}