.about-custom-box {
    .group-block-content {
        h1 {
            font-size: 88px;
            line-height: 100px;
            font-weight: 700;
            @media (max-width: 768px) {
                font-size: 44px;
                line-height: 50px;
            }
        }
    }
}

.custom-faq-content {
    padding-block: 90px 136px;
    @media (max-width: 768px) {
        padding-block: 48px;
    }
    .group-block-content {
        @media (max-width: 768px) {
            align-items: center;
        }
        h2 {
            font-size: 88px;
            line-height: 88px;
            font-weight: 700;
            @media (max-width: 768px) {
                font-size: 44px;
                line-height: 50px;
            }
        }
    }
}

.campaign-custom {
    padding-block: 88px 68px;
        @media (max-width: 768px) {
            padding-block: 48px 40px;
            .group-block-content {
                align-items: center;
            }
        }
}

.two-image {
    padding-block: 80px;
    @media (max-width: 768px) {
        padding-block: 20px;
        .group-block-content {
            flex-direction: column-reverse;
        }
    }
}
.section:has(.product-archive) {
    margin: 50px 0 110px;
    @media (max-width: 768px) {
        margin: 0 0 32px 0;
    }
}
.product-archive .group-block-content{
    padding: 100px 0;
    position: relative;
    @media (max-width: 768px) {
        padding: 30px 0;
    }
}

.main-collection-grid {
    .product-grid {
        @media (max-width: 768px) {
            padding-inline: 20px;
        }
    }
}

details.details[open] {
    .details__header {
        font-weight: 500;
    }
} 

@media (max-width: 768px) {
    .product-details {
        >.group-block {
            padding-block: 40px;
        }
    }
}

.collection-wrapper {
    .product-media {
        background-color: #F9FAFC;
    }
}
.product-information__media {
    media-gallery.media-gallery--grid{
        .media-gallery__grid {
            .product-media-container {
                :is(img, .deferred-media__poster-image) {
                    background: #F6F6F6;
                }
            }
        }
    }
}

