.about-custom-box .group-block-content h1 {
  font-size: 88px;
  line-height: 100px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .about-custom-box .group-block-content h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

.custom-faq-content {
  padding-block: 90px 136px;
}
@media (max-width: 768px) {
  .custom-faq-content {
    padding-block: 48px;
  }
}
@media (max-width: 768px) {
  .custom-faq-content .group-block-content {
    align-items: center;
  }
}
.custom-faq-content .group-block-content h2 {
  font-size: 88px;
  line-height: 88px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .custom-faq-content .group-block-content h2 {
    font-size: 44px;
    line-height: 50px;
  }
}

.campaign-custom {
  padding-block: 88px 68px;
}
@media (max-width: 768px) {
  .campaign-custom {
    padding-block: 48px 40px;
  }
  .campaign-custom .group-block-content {
    align-items: center;
  }
}

.two-image {
  padding-block: 80px;
}
@media (max-width: 768px) {
  .two-image {
    padding-block: 20px;
  }
  .two-image .group-block-content {
    flex-direction: column-reverse;
  }
}

.section:has(.product-archive) {
  margin: 50px 0 110px;
}

.product-archive .group-block-content {
  padding: 100px 0;
  position: relative;
}

variant-swatch-king div.swatches div.swatch-single ul.swatch-view li.swatch-view-item {
  margin-right: 12px;
}
variant-swatch-king div.swatches div.swatch-single ul.swatch-view li.swatch-view-item .swatch-image-wrapper {
  border-radius: 0px;
  padding: 6px;
  width: 94px;
}
variant-swatch-king div.swatches div.swatch-single ul.swatch-view li.swatch-view-item .swatch-image-wrapper .star-set-image {
  width: 82px;
  height: 70px;
}
