.about-custom-box {
    .group-block-content {
        h1 {
            font-size: 88px;
            line-height: 100px;
            font-weight: 700;
            @media (max-width: 768px) {
                font-size: 44px;
                line-height: 50px;
            }
        }
    }
}

.custom-faq-content {
    padding-block: 90px 136px;
    @media (max-width: 768px) {
        padding-block: 48px;
    }
    .group-block-content {
        @media (max-width: 768px) {
            align-items: center;
        }
        h2 {
            font-size: 88px;
            line-height: 88px;
            font-weight: 700;
            @media (max-width: 768px) {
                font-size: 44px;
                line-height: 50px;
            }
        }
    }
}

.campaign-custom {
    padding-block: 88px 68px;
        @media (max-width: 768px) {
            padding-block: 48px 40px;
            .group-block-content {
                align-items: center;
            }
        }
}

.two-image {
    padding-block: 80px;
    @media (max-width: 768px) {
        padding-block: 20px;
        .group-block-content {
            flex-direction: column-reverse;
        }
    }
}
.section:has(.product-archive) {
    margin: 50px 0 110px;
}
.product-archive .group-block-content{
    padding: 100px 0;
    position: relative;
}

.product-details {
    variant-swatch-king {
        div.swatches {
            div.swatch-single {
                ul.swatch-view {
                    li.swatch-view-item {
                        margin-right: 12px;
                        .swatch-image-wrapper {
                            border-radius: 0px;
                            padding: 6px;
                            width: 94px;
                            .star-set-image {
                                width: 82px;
                                height: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
}
